# Lab 11 - CSCI 1200

***
Welcome to the lab, today we will be learning about:
1. Using objects to store named variables
2. Reading csv files as nested lists

# Objects
***

In this section we will look at a nested list (a list of lists) and use an object to refer to specific columns within that list.

Remember: when we have a list of lists, it's useful to think of it as a table of data. Each sublist is one row of data, and within each row there are a certain number of columns.


Say we have the following data:


id | name | skills
---|---|---
1 | "Jon Snow" | 10
2 | "Jaqen H'ghar" | 100
4 | "Tyrion Lannister" | 85
6 | "Arya Stark" | 45

In [1]:
# let's take a look at using one of these objects
# to index into a list of lists.
# We've gone ahead and put the above data into a list of lists here
data = [[1, "Jon Snow", 10], [2, "Jaqen H'ghar", 100], [4, "Tyrion Lannister", 85], [6, "Arya Stark", 45]]

In [2]:
# First, how many rows does the variable data contain?

In [3]:
# Second, how many columns are in the first row of this data?

In [4]:

# This is a definition of an object. It's job for us will be
# to give readable names to each one of our columns.
class GoTData:
    id = 0
    name = 1
    skills = 2

In [5]:
# when we use this GoTData object, we write GoTData.name_of_column
# 
# For example:
# GoTData.id
# GoTData.name
data[0][GoTData.skills]

# this is so that we don't have random numbers floating around in our 
# code so that we can understand what column we're talking about!

10

In [6]:
# notice that if we just print out the value, we can
# see that when this code runs, GoTData.skills is evaluated to
# the value associated with it in the GoTData object
print(GoTData.skills)

2

In [7]:
# Write a function to find the maximum value in the "skills" column 
# -- we'll do this together after you work on it

In [8]:
# Write a function that returns the list of ids that correspond to rows 
# that have a last name that starts with ‘S’. 
# Start by just printing out the rows that have names with a 
# last name that starts with "S"
# -- we'll do this together after you work on it

# Reading csv files as nested lists
***

We will generalize the functions in previous section to use over large files.

In [9]:
# let's start by taking a look at the file
# make sure that this file is already saved in the 
# same directory as this notebook!

f = open("GoT.csv", "r")
line = f.readline()
while line:
    print(line)
    line = f.readline()
f.close()

id,name,skills

1,Jon Snow,10

2,Jaqen H'ghar,100

4,Tyrion Lannister,85

6,Arya Stark,45

7,Daenerys Targaryen,1000

8,Jorah Mormont,67

9,Grey Worm,46

10,Gilly,97

In [10]:
# task: write a read_data function that makes a 
# list of lists from the input file and 
# that ignores the header (first row) in the
# data file

def read_data(file_name):
    f = open(file_name, "r")
    # read in the first line
    headers = f.readline().strip().split(",")
    # now look at all of the rows
    rows = []
    i = 0
    line = f.readline()
    while line:
        # what does the following line of code do?
        rows.append(line.strip().split(","))
        line = f.readline()
    f.close()
    return rows

# testing this function
lst = read_data("GoT.csv")
print(lst)

[['1', 'Jon Snow', '10'], ['2', "Jaqen H'ghar", '100'], ['4', 'Tyrion Lannister', '85'], ['6', 'Arya Stark', '45'], ['7', 'Daenerys Targaryen', '1000'], ['8', 'Jorah Mormont', '67'], ['9', 'Grey Worm', '46'], ['10', 'Gilly', '97']]

# COMPUTER TIME!
***
Go ahead and solve the following exercises.
And also, please look at the course notes for this week and the last week. Please let us know if you have any questions towards this concept.

Use the `GoTData` object to access columns.

In [11]:
#Execute this cell to read GoT.csv into the variable data

data = read_data("GoT.csv")

In [12]:
# Be sure that you've run the cell defining the GoTData object earlier in this notebook!

1. Write the line of code that accesses the name column of the 3rd row of the data set when it is in the following format:

In [13]:
print(data[2][GoTData.name])

Tyrion Lannister

2. Using the above `GoTData` object, print the `name` column of the data for the first 7 rows. (use a while loop)

In [14]:
def show_names(data):
  row = 0
  while row < 7:
    print(data[row][GoTData.name])
    row += 1

show_names(data)

Jon Snow
Jaqen H'ghar
Tyrion Lannister
Arya Stark
Daenerys Targaryen
Jorah Mormont
Grey Worm

3. Function that isolates a single column in a given list of lists and returns a new list containing only values from that column. You may assume that all sub-lists have the same length.

In [15]:
def iso_col(data, col_name):
  i = 0
  col_lst = []
  while i < len(data):
    col_lst.append(data[i][col_name])
    i += 1
  
  return col_lst

lst = iso_col(data, GoTData.name)

In [16]:
lst

['Jon Snow',
 "Jaqen H'ghar",
 'Tyrion Lannister',
 'Arya Stark',
 'Daenerys Targaryen',
 'Jorah Mormont',
 'Grey Worm',
 'Gilly']

In [17]:
max(["4", "56", "34"])

'56'

4. Write a function to find the name of the person with maximum value in the "skills" column. Use your function from the previous problem to get skills list.

In [18]:
def find_max_skill(data, skills):
  row = skills.index(max(skills))
  print(data[row][GoTData.name])

skills_lst = iso_col(data, GoTData.skills)
find_max_skill(data, skills_lst)

Gilly

5. Write a function that returns the list of ids that correspond to rows that have a last name that starts with ‘S’.

In [19]:
def s_name_ids(data):
  row = 0
  ids_lst = []
  while row < len(data):
    if data[row][GoTData.name].split(" ")[-1][0] == "S":
      ids_lst.append(data[row][GoTData.id])
    row += 1
  return ids_lst

ids = s_name_ids(data)
print(ids)

['1', '6']

## Challenge problems
-------
If you've gotten a good start on your data viz project, take a crack at these!

1. Call the `read_data` function on the file `GoT.csv`. What type are the elements in the sub-lists?

Write a function `convert_types` that takes a list of lists (data) as a parameter and converts all strings that are numbers (use the `string.isdecimal()` function or `string.isnumeric()` function (they are basically the same)) to integers. This function should mutate your original list!

2. Make a function, `count_name_letter`, that takes two parameters: a list of lists as generated from the `read_data` function on the file `GoT.csv`, and a string letter. This function should print the number of people whose first name begins with the given letter (case-insensitive).

In [20]:
def convert_types(data):
  row = 0
  while row < len(data):
    col = 0
    while col < len(data[row]):
      if data[row][col].isnumeric():
        data[row][col] = int(data[row][col])
      col += 1
    row += 1

In [21]:
convert_types(data)

In [22]:
def count_name_letter(data, letter):
  row = 0
  count = 0
  while row < len(data):
    if data[row][GoTData.name][0] == letter:
      count += 1
    row += 1
  print(count)

In [23]:
count_name_letter(data, "J")

3