In [1]:
# Name: Ashish Srivastava
# Section : 001
# Homework: Hello, computers!
# Description: Understanding data types, operations, writing code, and comments

Part 2: Writing Code
=======

Question 4 (3 points): Introduce yourself to your TA
----------------------
Write a program that uses `print()` statements to introduce yourself to your TA. You must use at least 3 `print()` statements.

In [2]:
# Answer Question 4 here
print('Hello, my name is Ashish')
print("I'm a junior  in chemical and biological engineering")
print("I'm taking this class for my computational biology minor")

Hello, my name is Ashish
I'm a junior  in chemical and biological engineering
I'm taking this class for my computational biology minor

Question 5 (2 points): Exploring `print()`
-------------

What happens when a python `print()` statement with nothing between the parentheses is executed (no argument is given)? Make sure to leave the code that you used to figure out the answer to this question in your notebook.

In [3]:
# Answer Question 5 here. Write your answer to the 
# question in comments and leave code that you used below
print()

# Nothing is outputted

Question 6 (10 points): Exploring Data Types and Operations
-------------------
Read section 3.1 of the Course Notes.

Fill out the table in the cell below with the results of the following operations between the two types:

Hint: to test the result of an operation between two types, pick example values of each of those types.

In [4]:
# TODO: complete this table.
#
#         operator             result?
#         --------             --------
#   int     +        int       int
#   int     +        string    TypeError
#   int     +        float     float
#   int     *        float     float
#   int     /        int       float
#   int     //       int       int
#   float   *        float     float
#   float   //       int       float
#   float   +        string    TypeError
#   string  +        int       TypeError
#   string  *        int       string
#   string  /        int       TypeError

In [5]:
# TODO: conduct experiments to fill out this table.
# Make sure to leave the code that you used for experiments 
# in this notebook to get full credit!
# Any experiments that cause errors must be left in the notebook
# but "commented out" (turned into comments)
# Feel free to add as many cells as you need

In [6]:
# Example for int + int
3 + 7

10

In [7]:
# Example for int + string 
# 3 + "csci1200"  (causes a TypeError)

In [8]:
# Example for int +  float
3  + 5.3

8.3

In [9]:
# Example for int *  float
3 * 5.3

15.899999999999999

In [10]:
# Example for int /  int
3/5

0.6

In [11]:
# Example  for int // int
5//3

1

In [12]:
# Example for float * float
3.1*6.8

21.08

In [13]:
# Example for float // int
4.6//2

2.0

In [14]:
# Example for float + string
# 3.4 + "string" (causes a  TypeError)

In [15]:
# Example for string +  int 
# 3 + "string" (causes  a TypeError)

In [16]:
# Example for string * int 
"string"*3

'stringstringstring'

In [17]:
# Example for string / int
# "string"/2 (causes a TypeError)

Question 7 (Extra Credit - 5 points): Explore the Modulo (%) operator
-------------------
Refer section 3.1 of the Course Notes.

Give two examples of Modulo (%) operator.

Write a short comment explaining the output for each example.

In [18]:
# TODO:
# Example 1
5%3
# Explanation
# When dividing 5 by 3, you get 1 as the quotient, and 2 as a remainder. Therefore 5%3 returns
# the value of the remainder: 1

2

In [19]:
# TODO:
# Example 2
25%4
# Explanation
# When dividing 25 by 4; 4 goes into 25 evenly 6 times (the quotient is 6) and you get 
# a remainder of 1. Therefore, 25%6 returns 1

1

STOP
========
Before turning this notebook in: click "Restart the Kernel" (the circular arrow symbol), then run all cells. You can run all cells by either running them individually, or by using the "Run" menu at the top of Jupyter Lab.

Make sure you have renamed this notebook according to the homework write-up!