In [ ]:
# You'll fill this part in when it's time to work on computers
#
# Write your names here:
#

# Lab 10 - CSCI 1200
## October 27, 2021
***
Welcome to the lab, today we will be learning about:
1. Nested lists
2. Nested while loops
3. Midterm 2 Review

We will walk through half of this notebook at the beginning of the recitation, and the rest you will be doing in Computer Time!

# Nested Lists
***

In this section, we will see examples of computing with nested lists.

In [1]:
# what is a nested list?
# one way to think about it: a list of lists
# another way to think about it: columns and rows

a = [ [1,2,100,1000], [9800, 343, 1443 ,5454], [33355, 623, 436, 777, 876, 543], [43, 65,2,87, 6] ]
print(a)

[[1, 2, 100, 1000], [9800, 343, 1443, 5454], [33355, 623, 436, 777, 876, 543], [43, 65, 2, 87, 6]]

In [2]:
ls = a[0]
print(ls[1])

2

In [3]:
print(a[0][1])

2

In [4]:
# a function that takes a nested list as a parameter and returns a list containing the sum of each inner list

def row_sum(lst):
    ans = []
    idx = 0
    while idx < len(lst):
        curr_lst = lst[idx]
        ans.append(sum(curr_lst))
        idx += 1
    return ans

# testing out this function
print(row_sum(a))

[1103, 17040, 36610, 203]

In [5]:
# a function that takes a nested list as a parameter and returns a list containing the mean of each inner list

def row_mean(lst):
    ans = []
    i = 0
    while i < len(lst):
        mean = sum(lst[i]) / len(lst[i])
        ans.append(mean)
        i += 1
    return ans

print(row_mean(a))

[275.75, 4260.0, 6101.666666666667, 40.6]

In [6]:
# a function that takes a nexted list as a parameter and returns a list containing the minimum element of each inner list

def row_min(lst):
    ans = []
    i = 0
    while i < len(lst):
        minimum = min(lst[i])
        ans.append(minimum)
        i += 1
    return ans
print(row_min(a))

[1, 343, 436, 2]

In [7]:
# a function that takes a nested list as a parameter and returns a list containing the maximum element of each inner list

def row_max(lst):
    ans = []
    i = 0
    while i < len(lst):
        maximum = max(lst[i])
        ans.append(maximum)
        i += 1
    return ans

print(row_max(a))

[1000, 9800, 33355, 87]

In [8]:
# a function that takes a nested list as a parameter
# returns a list containing the ratio of the second element to the first element for each inner list

def row_ratio(lst):
    ans = []
    i = 0
    while i < len(lst):
        ratio = lst[i][1] / lst[i][0]
        ans.append(ratio)
        i += 1
    return ans

print(row_ratio(a))

[2.0, 0.035, 0.018677859391395595, 1.5116279069767442]

# Nested Loops
***

In this section, we will see examples of using nested while loops with nested lists.

In [9]:
# We might want to use a nested while loop to perform a task

def nested_while_demo(ls):
    idx_outer = 0
    while idx_outer < len(ls):
        print("in outer loop")
        print(ls[idx_outer])
        idx_inner = 0
        
        while idx_inner < len(ls[idx_outer]):
            print("in inner loop")
            print(ls[idx_outer][idx_inner])
            idx_inner += 1
        idx_outer += 1
        
b = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nested_while_demo(b)

in outer loop
[1, 2, 3]
in inner loop
1
in inner loop
2
in inner loop
3
in outer loop
[4, 5, 6]
in inner loop
4
in inner loop
5
in inner loop
6
in outer loop
[7, 8, 9]
in inner loop
7
in inner loop
8
in inner loop
9

In [10]:
# let's do a more concrete example with a new nested list for this example.
# each row has a name, height in cm, and weight in kg
# let's print out all this information with some labels

def print_with_labels(ls):
    idx_1 = 0
    while idx_1 < len(ls):
        idx_2 = 0
        while idx_2 < len(ls[idx_1]):
            if idx_2 == 0:
                print("Name: " + ls[idx_1][idx_2])
            elif idx_2 == 1:
                print("Height (cm): " + str(ls[idx_1][idx_2]))
            else:
                print("Weight (kg): " + str(ls[idx_1][idx_2]))
            idx_2 += 1
        print()
        idx_1 += 1

sesame_street = [ ["Big Bird", 249, 136], ["Mr. Snuffleupagus", 213, 453], ["Elmo", 61, 10] ]
        
print_with_labels(sesame_street)

Name: Big Bird
Height (cm): 249
Weight (kg): 136

Name: Mr. Snuffleupagus
Height (cm): 213
Weight (kg): 453

Name: Elmo
Height (cm): 61
Weight (kg): 10